.player-wrapper {
  width: 100%;
  position: relative;
  background-color:  #1e1e22;
}


.player-controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.player-controls button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9147ff;
  color: white;
  cursor: pointer;
}

.player-controls button:hover {
  background-color: #772ce8;
}

.player-controls p {
  margin-left: 10px;
  color: white;
}
